<div  ng-controller="splashController" class="container-fluid">
	<div class="row">
		<div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
			<div class="timer">
				<div class="timer-progress" style="width: 40%;"></div>
			</div>
			<div class="carousel-inner" >
				<carousel interval="3000">
					<slide ng-repeat="splash in voyosplash" active="splash.active">
						<img ng-src={{splash.thumbnailUrl.replace("PLACEHOLDER","1900x600")}}>
						<div class="carousel-caption">
							<h2>{{splash.title}}</h2>
							<p>{{splash.text}}</p>
							<a class="btn btn-primary btn-lg round mt-10" href="#">Watch now</a>
						</div>
					</slide>
				</carousel>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div ng-repeat="box in voyobox">
		<div ng-if="box.function==''">
			<div class="page-header">
				<h1>{{box.name}}</h1>
			</div>
			<div class="row video-list">
	            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 video-item" ng-repeat="sub in box.positions">
	                <div ng-if="sub.type!='custom'">
		                <a class="item-hover" href="#/front/{{sub.media_id}}">
		                	<div class="thumbnail">
		                		<div class="thumb-icon"><div></div></div>
		                		<img class="img-responsive" ng-src={{sub.image.replace("PLACEHOLDER","500x370")}}>
		                	</div>
		                	
		                	<h3>
		                		{{sub.title}}
		                		<small>{{sub.title}}</small>
		                	</h3>
		                	
		                	<div class="item-caption">
		                		<hr class="mt-none mb-10" />
		                		{{sub.description}} ...
		                	</div>
		                </a>
		                
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</div>