<div  ng-controller="splashController" class="container-fluid">
	<div class="row">
	        <!-- The carousel -->
	        <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#transition-timer-carousel" data-slide-to="1"></li>
					<li data-target="#transition-timer-carousel" data-slide-to="2"></li>
				</ol>
	
				<!-- Wrapper for slides -->
				<div class="carousel-inner" >


                    <carousel interval="3000">
                        <slide ng-repeat="splash in voyosplash" active="splash.active">
                            <img ng-src={{splash.thumbnailUrl.replace("PLACEHOLDER","1900x600")}} style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>{{splash.title}}</h4>
                                <p>{{splash.text}}</p>
                            </div>
                        </slide>
                    </carousel>


	            </div>
	

			</div>
	    </div>
</div>

<div class="container">
	<div ng-repeat="box in voyobox">
		
		<div ng-if="box.function==''">
			<div class="page-header">
				<h1>{{box.name}}</h1>
			</div>
			<div class="row video-list">
	            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 video-item" ng-repeat="sub in box.positions">
	                <div ng-if="sub.type!='custom'">
		                <a href="#/front/{{sub.media_id}}">
		                	<div class="item-hover thumbnail">
		                		<div class="thumb-icon"><div></div></div>
		                		<img class="img-responsive" ng-src={{sub.image.replace("PLACEHOLDER","500x370")}}>
		                	</div>
		                	
		                	<h4>{{sub.title}}</h4>
		                </a>
		                <p>
		                	{{sub.description}} ...
		                </p>
	                </div>
	            </div>
	        </div>
		</div>
		
	</div>
</div>