<h1 align="center">{{voyomedia.title}}</h1>
<p align="center"><img src={{voyomedia.imageUrl.replace("PLACEHOLDER","500x370")}}></p>
<p>{{voyomedia.summary}}</p>
<ol align="center">
    <li><h4>{{voyomedia.metadata.original_name.name}} :</h4> {{voyomedia.metadata.original_name.value}} </li>
    <li><h4>{{voyomedia.metadata.year.name}} :</h4> {{voyomedia.metadata.year.value}} </li>
    <li><h4>{{voyomedia.metadata.genres.name}} :</h4> {{voyomedia.metadata.genres.value}} </li>
    <li><h4>{{voyomedia.metadata.actors.name}} :</h4> {{voyomedia.metadata.actors.value}} </li>
</ol>